<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
<style>

</style>
<body>


<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
      <a  href="/">Home</a>
  </div>
  <div class="w3-display-topmiddle w3-padding-large w3-xlarge">
      <a href="product_recommendation">Recommendation</a>
      <a href="review_number">Review Distribution</a>
      <a href="review_confidence">Review Confidentiality </a>
  </div>
  <div class="w3-display-middle" style="margin:auto;width:45%">
    <h1 class="w3-jumbo w3-animate-top ">Amazon Phone Analysis</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
  </div>
</div>

</body>
</html>
