<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/recommend.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/get_review_confidence.js') }}"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/show_review_num.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/get_products_from_brand.js') }}"></script>
</head>
<style type="text/css">
/* 13. Basic Styling with CSS */

/* Style the lines by removing the fill and applying a stroke */
.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
}

.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #ffab00;
    stroke: #fff;
}

  .focus circle {
  fill: none;
  stroke: steelblue;
}

</style>

<body>
    <h1 align="center">Search page:</h1>
  <div></div>

<!--  <div>-->
<!--    {% for n in data %}-->
<!--    <div></div>-->
<!--    {% endfor %}-->
<!--  </div>-->


<select class="select-box" id = "brand_box" onchange="generateProducts()">
  <option value="Default" selected="selected">Default</option>
  {% for brand in brand_list %}
    <option value ={{brand}}>{{brand}}</option>
  {% endfor %}
</select>

<select class="select-box" id = "product_box">

</select>

<input type="submit" value="Search" onclick="getReviewNum()">

<!--<p>Please make query: <input type="text" name="query"> <input type="submit" value="Search"></p>-->

<p><a href="\">Go back to home</a></p>

<!--<div>-->
<!--    {% for n in result %}-->
<!--    <div>{{n}}</div>-->
<!--    {% endfor %}-->
<!--</div>-->
<div id = "my_div" style="font-size:20px;position:relative;left:300px;">
</div>


</body>


</html>