<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/recommend.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/get_products_from_brand.js') }}"></script>
</head>

<body>
  <h1>Search page:</h1>
  <div></div>

<!--  <div>-->
<!--    {% for n in data %}-->
<!--    <div></div>-->
<!--    {% endfor %}-->
<!--  </div>-->


<select id = "brand_box" onchange="generateProducts()">
  <option value="Default" selected="selected">Default</option>
  {% for brand in brand_list %}
    <option value ={{brand}}>{{brand}}</option>
  {% endfor %}
</select>

<select id = "product_box">

</select>

<input type="submit" value="Search" onclick="getReviewConfidence()">

<!--<p>Please make query: <input type="text" name="query"> <input type="submit" value="Search"></p>-->

<p><a href="\">Go back</a></p>

<!--<div>-->
<!--    {% for n in result %}-->
<!--    <div>{{n}}</div>-->
<!--    {% endfor %}-->
<!--</div>-->
  <div id = "my_div" class="pricing-wrapper clearfix">
  </div>


</body>


</html>

